.selectize-input.focus {
    border-color: #5E72E3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(94, 114, 227, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(94, 114, 227, 0.6);
}

.selectize-control.multi .selectize-input.has-items .item {
  background-color: #5E72E3;
  color:white;
}